
span.underline {
    text-decoration: underline;
}
span.blink {
    text-decoration: blink;
}
span.flash {
    text-decoration: flash;
}
span.inverse {
    text-decoration: inverse;
}
span.hidden {
    display: none;
}
span.line-through {
    text-decoration: line-through;
}
span.monospace {
    font-family: 'Droid Sans Mono', sans-serif;
}

span.black-foreground {
    color: black;
}
span.red-foreground {
    color: red;
}
span.green-foreground {
    color: green;
}
span.yellow-foreground {
    color: yellow;
}
span.dodgerblue-foreground {
    color: dodgerblue;
}
span.magenta-foreground {
    color: magenta;
}
span.cyan-foreground {
    color: cyan;
}
span.white-foreground {
    color: white;
}
span.black-background {
    background-color: black;
}
span.red-background {
    background-color: red;
}
span.green-background {
    background-color: green;
}
span.yellow-background {
    background-color: yellow;
}
span.dodgerblue-background {
    background-color: dodgerblue;
}
span.magenta-background {
    background-color: magenta;
}
span.cyan-background {
    background-color: cyan;
}
span.white-background {
    background-color: white;
}
