@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url(/fonts/droidsansmono.v4.woff) format('woff');
}
body {
    background-color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    color: #333333;
}
body.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
a { text-decoration: none; color: inherit; }
div.nav {
    position: fixed;
    z-index: 9998;
    top: 0px; left: 0px;
    width: 100%;
    height: 2em;
    cursor: default;
    background-color: rgba(0, 0, 0, 1);
}
div.nav a:hover { cursor: pointer; }
a.link:hover { background-color: rgba(35, 35, 35, 1); }
div.menu {
    display: none;
    position: fixed;
    top: 2em; right: 0;
    background-color: rgba(0, 0, 0, 1);
}
div.nav a {
    color: #555555;
}
div.nav a:hover {
    color: #aaaaaa;
}
div.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0.5em;
}
div.nav ul li a {
    cursor: pointer;
}
div.nav ul li.link {
    float: left;
}
div.nav ul li.control {
    float: right;
    padding-right: 2em;
}
div.menu ul {
    list-style-type: none;
    overflow: hidden;
    padding-inline-start: inherit;
}
div.menu ul li a {
    display: block;
    cursor: pointer;
    padding: 1em;
}
div.menu ul li {
    border-bottom: 1px solid #555555;
}
div.menu ul li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
a.button {
    font-weight: 400;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border-color: #555555;
    line-height: 40px;
    padding: 8px 16px;
    color: #555555;
    cursor: pointer;
}
a.button:hover {
    text-decoration: none;
}
form.input {
    width: 100%;
}
table {
    border: 0px;
    border-spacing: 0px;
    margin-right: 1em;
}
td, th {
    padding: 0px;
}
input,input[type=text],input[type=email],input[type=password] {
    border: none;
    float: right;
    width: 100%;
    outline-width: 0px;
    outline-style: none;
    font-family: 'Droid Sans Mono', sans-serif;
    letter-spacing: normal;
    font-size: 1em;
    line-height: normal;
    padding: 0px;
    margin: 0px;
    color: #22ff22;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}
input.password {
    display: none;
}
div.input label {
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    white-space: nowrap;
}
label.password {
    display: none;
}
input[type=text]:hover,input[type=email]:hover,input[type=password]:hover {
    background-color: inherit;
}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus {
    background-color: inherit;
}
div.display {
    display: block;
    padding: 1em;
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #22ff22;
    white-space: pre-line;
    word-wrap: break-word; /* IE 5+ */
    overflow: hidden;
}
div.space {
    padding-bottom: 5em;
}
a.direction { cursor: pointer; }
div.markdown {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div.markdown pre {
    border: 1px solid #22ff22;
    border-radius: 7px;
    background-color: #444444;
    padding: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
div.markdown a {
    color: dodgerblue;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
}
